:root {
  --mainColor: #222;
  --accentColor: #27ae60;
  --lightColor: #f8f8f8;
}

@function headings($from:1, $to:6) {
  @if $from==$to {
    @return 'h#{$from}';
  }

  @else {
    @return 'h#{$from},'+headings($from+1, $to);
  }
}
